.slider
	.slider__left(id="left" onclick="left()")
		.slider__arrow
			p <
	.slider__content
		.slider__items( id="items")
			.slider__item(one)
					img(src="./src/img/product/Untitled-3-796x1024.jpg", alt="1")
			.slider__item(two)
					img(src="./src/img/product/Untitled-4-796x1024.jpg", alt="2")
			.slider__item(tree)
					img(src="./src/img/product/Untitled-5-796x1024.jpg", alt="3")
			.slider__item(for)
					img(src="./src/img/product/Untitled-6-796x1024.jpg", alt="4")

	.slider__right(id="right" onclick="right()")
		.slider__arrow
			p >