
<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="./src/style.min.css")
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
	
	body
		.wrap
			include header/header.pug
			include slider/slider.pug
			include page/page_index/content.pug
			include footer/input.pug
			include footer/footer.pug
	<script src="src/slider/slider.js"></script>