.header__logo
	.container
		.header_logo
			.header_logo__logo
				div 
					p S 
				span HeroWP
				strong .com
			.header_lofo__phone
				div
					img(src="src/header/header_lofo__phone.png", alt="phone")
					div
						span +(49) 789 654 321
						span +(49) 123 456 789
				div
					img(src="src/header/header_lofo__email.png", alt="email")
					div
						span sales@email.com
						span  awesome@email.com
